<section>  
  <div class="overflow-x-auto">
    <table class="min-w-full bg-white rounded-2xl shadow-md overflow-hidden">
      <thead class="bg-[#2f3f64] text-white">
        <tr>
          <th class="px-6 py-4 text-left text-sm font-semibold uppercase rounded-tl-2xl">
            Fornecedor
          </th>
          <th class="px-6 py-4 text-left text-sm font-semibold uppercase">
            Vencimento
          </th>
          <th class="px-6 py-4 text-left text-sm font-semibold uppercase">
            Data Enviada
          </th>
          <th class="px-6 py-4 text-left text-sm font-semibold uppercase">
            Status
          </th>
          <th class="px-6 py-4 text-left text-sm font-semibold uppercase rounded-tr-2xl">
            Ações
          </th>
        </tr>
      </thead>

      <tbody class="divide-y divide-gray-200">
        <tr *ngFor="let data of datas" class="hover:bg-gray-100 transition duration-300 ease-in-out">
          <td class="px-6 py-4 text-sm text-gray-700 whitespace-nowrap">
            {{ data.fornecedor }}
          </td>
          <td class="px-6 py-4 text-sm text-gray-700 whitespace-nowrap">
            {{ data.vencimento }}
          </td>
          <td class="px-6 py-4 text-sm text-gray-700 whitespace-nowrap">
            {{ data.data_enviada }}
          </td>
          <td class="px-6 py-4 text-sm font-medium whitespace-nowrap">
            <span class="px-3 py-1 rounded-full text-xs font-semibold inline-block" [ngClass]="{
                'bg-green-100 text-green-700': data.status === 'Pago',
                'bg-yellow-100 text-yellow-700': data.status === 'Pendente',
                'bg-red-100 text-red-700': data.status === 'Vencido' || data.status === 'Cancelado'
              }">
              {{ data.status }}
            </span>
          </td>

          <!-- Ações -->
          <td class="sm:px-6 py-4 flex gap-1 sm:gap-4">
            <!-- Editar -->
            <button 
              type="button" 
              (click)="edit(data)" 
              class="p-2 rounded-full hover:bg-blue-100 transition"
              title="Editar">
              <img src="assets/icons/edit.svg" alt="Editar" class="w-5 h-5"/>
            </button>

            <!-- Excluir -->
            <button 
              type="button" 
              (click)="delete(data)" 
              class="p-2 rounded-full hover:bg-red-100 transition"
              title="Excluir">
              <img src="assets/icons/trash.svg" alt="Excluir" class="w-5 h-5"/>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>